tr.heading {
  color: #882E2C;
}

tr.results {
  font-size: smaller;
  color: #000000;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:link {
  color: #882E2C;
}

a:hover {
  background-color: #E2F345;
}

a:visited {
  color: #882E2C;
}

a:active {
  color: #000000;
}

.error {
  font-weight: bold;
  color: #FF0000;
}

.tb_job_information{
  border-spacing: 0 12px;
}

.tr_job_information{
  vertical-align: top;
}

.form-group{
  margin-bottom: 15px;
}